{% extends 'main\Base.html' %}

{% block title %} Contacts {% endblock %}

{% block content %} 
<div class="content contacts">
    <h1>Contacts</h1>
    <p></p>
    <ul>
        <!-- <a href="https://github.com/Gennady-A"><li>GitHub</li></a>
        <a href="https://www.codewars.com/users/Gennady-A"><li>CodeWars</li></a>
        <a href="https://www.fl.ru/users/gennadyaleyniko/portfolio/"><li>Fl</li></a>
        <a href="https://vk.com/simulacrum_g"><li>Vk</li></a> -->

        <li><a href="https://github.com/Gennady-A"><i class="fa-brands fa-github"></i> GitHub</a> - гитхаб с моими проектами.</li>
        <li><a href="https://www.codewars.com/users/Gennady-A"><i class="fa-brands fa-vk"></i> CodeWars</a> - мой аккаунт на CodeWars, где я иногда решаю каты.</li>
        <li><a href="https://vk.com/simulacrum_g"><i class="fa-brands fa-vk"></i> Vk</a> - основная страница во вконтаке</li>
    </ul>
</div>
{% endblock %}