{% extends 'main\Base.html' %}

{% block title %} Model {% endblock %}

{% block content %} 
<div class="content model">
    <h1>Model</h1>
    <p>Здесь вы можете загрузить изображение и получить результат распознавания. В основе лежит модель, обученная на датасете из sklearn. Изображения в датасете чёрно-белые, с разрешением в 8 на 8 пикселей. После загрузки изображения при помощи библиотеки OpenCv программа изменит разрешение и цветовую палитру до нужного стандарта, после чего просчитает ответ по полученной картинке. Добавьте изображение и нажмите кнопку "Обработать". Модель выдаст результат ниже. На данном этапе предсказания очень плохие, для точного ответа нужно, чтобы число было нарисовано жирно. В теории модель можно заменить на ту, что мы использовали для распознавания цифр из датасета MNIST.</p>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.img }}
        <!-- <input type="file" name="img"> -->
        <button type="submit">Обработать</button>
    </form> 

    <p class="answer">{{ answer }}</p>


</div>
{% endblock %}